@{
    ViewBag.Title = "LoginOK";
    Layout = "~/Views/Shared/_Master.cshtml";
}
<link rel="stylesheet" type="text/css" href="/Content/login_success.css" />
@{Html.RenderPartial("Nav");}
<ul class="list_nav">
    <li><a href="#">会员登陆</a></li>
    <li><a href="#">登陆成功</a></li>
</ul>
<div class="login_jy">
    <!--登陆成功-->
    <h2>
        登陆成功！祝采购愉快</h2>
    <!--p>
        <a href="/">点击跳转</a>登陆前页面</p-->
    <ul>
        <li><a href="/">
            <div class="ico_i">
                <img src="/images/sec_01.jpg" /></div>
            <strong>我要采购</strong>
            <div class="ico_c">
                <img src="/images/sec_011.jpg" /></div>
        </a></li>
        <li><a href="/">
            <div class="ico_i">
                <img src="/images/sec_02.jpg" /></div>
            <strong>我要特价品</strong>
            <div class="ico_c">
                <img src="/images/sec_021.jpg" /></div>
        </a></li>
        <li><a href="/jy">
            <div class="ico_i">
                <img src="/images/sec_03.jpg" /></div>
            <strong>我要找新药</strong>
            <div class="ico_c">
                <img src="/images/sec_31.jpg" /></div>
        </a></li>
        <li><a href="/">
            <div class="ico_i">
                <img src="/images/sec_04.jpg" /></div>
            <strong>我要看资讯</strong>
            <div class="ico_c">
                <img src="/images/sec_041.jpg" /></div>
        </a></li>
        <li><a href="/membercenter">
            <div class="ico_i">
                <img src="/images/sec_05.jpg" /></div>
            <strong>我的会员功能</strong>
            <div class="ico_c">
                <img src="/images/sec_051.jpg" /></div>
        </a></li>
    </ul>
</div>
