<appSettings>
  <add key="webpages:Version" value="1.0.0.0" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="ServerList" value="127.0.0.1:11211" />
  <!--价格缓存-->
  <add key="ServerList2" value="192.168.1.200:11211" />
  <!--<add key="imageUrl" value="http://192.168.1.75:8088/" />-->
  <add key="imageUrl" value="http://resource.sosoyy.com/resource/Images/" />
  <add key="Iden" value="50000" />
  <add key="MongoConnectionURL" value="mongodb://192.168.1.5:25566" />
  <add key="MongoName" value="SOSO_LH" />
  <!--在线支付-->
  <add key="OnlinePayment_Enabled" value="true" />
  <!--是否发送短信-->
  <add key="isSendMsg" value="0" />
  <!--是否开启经营范围判断-->
  <add key="IsBusinessScopeEnable" value="0" />
  <add key="adurl" value="http://192.168.1.5:2433:94" />
  <!--企业信息-->
  <add key="CompanyShortName" value="兰海"/>
  <add key="CompanyFullName" value="兰海医药有限公司"/>
  <add key="CompanyAddress" value=""/>
  <add key="CompanyDescription" value="兰海医药有限公司"/>
  <add key="CompanyDomainName" value="www.baidu.com"/>
  <add key="CompanyPhone" value="0000-00000000"/>
  <!--母版页底部配置Start-->
  <!--购买流程-->
  <add key="BuyingProcess" value="/help/95.html"/>
  <!--隐私申明-->
  <add key="PrivacyStatement" value="/help/1.html#title_hyys"/>
  <!--常见问题-->
  <add key="CommonProblem" value="/help/111.html"/>
  <!--联系客服-->
  <add key="ContactCustomerService" value="/help/146.html"/>
  <!--配送范围及费用-->
  <add key="DistributionDescription" value="/article/127.html"/>
  <!--上门自提-->
  <add key="FromTheDoor" value="/article/150.html"/>
  <!--签收与验货-->
  <add key="SignAndInspection" value="/help/1.html#title_spyhjqs"/>
  <!--货到付款-->
  <add key="CashOnDelivery" value="/help/128.html#title2"/>
  <!--款到发货-->
  <add key="MoneyToDelivery" value="/help/128.html"/>
  <!--网上支付-->
  <add key="OnlinePayment" value="/help/128.html#title1"/>
  <!--银行转账-->
  <add key="BankTransfer" value="/help/128.html"/>
  <!--退换货政策-->
  <add key="ReturnPolicy" value="/help/1.html#title_thh"/>
  <!--取消订单-->
  <add key="CancelOrder" value="/help/111.html#title_qxdd"/>
  <!--公司简介-->
  <add key="CompanyProfile" value="/help/126.html"/>
  <!--联系我们-->
  <add key="ContactUs" value="/help/148.html"/>
  <!--人才招聘-->
  <add key="Recruitment" value="/help/149.html"/>
  <!--帮助中心-->
  <add key="HelpCenter" value="/help/111.html"/>
  <!--母版页底部配置End-->
  <!--TDK(基药)-->
  <add key="JY_Title" value=""/>
  <add key="JY_Description" value=""/>
  <add key="JY_Key" value=""/>
  <!--TDK(列表)-->
  <add key="List_Title" value=""/>
  <add key="List_Description" value=""/>
  <add key="List_Key" value=""/>
  <add key="List_Search_Title" value=""/>
  <add key="List_Search_Description" value=""/>
  <add key="List_Search_Key" value=""/>
  <add key="List_Search2_Title" value=" "/>
  <add key="List_Search2_Description" value=""/>
  <add key="List_Search2_Key" value=""/>
  <!--TDK(登录)-->
  <add key="LogOn_Title" value=""/>
  <add key="LogOn_Description" value=""/>
  <add key="LogOn_Key" value=""/>
  <!--TDK(注册)-->
  <add key="Register_Title" value=""/>
  <add key="Register_Description" value=""/>
  <add key="Register_Key" value=""/>
  <!--TDK(近效期)-->
  <add key="ExpirationTime_Title" value=""/>
  <add key="ExpirationTime_Description" value=""/>
  <add key="ExpirationTime_Key" value=""/>
  <!--TDK(OTC)-->
  <add key="OTC_Title" value=""/>
  <add key="OTC_Description" value=""/>
  <add key="OTC_Key" value=""/>
  <!--TDK(Promotions)-->
  <add key="Promotions_Title" value=""/>
  <add key="Promotions_Description" value=""/>
  <add key="Promotions_Key" value=""/>
  <!--TDK(Signin)-->
  <add key="Signin_Title" value=""/>
  <add key="Signin_Description" value=""/>
  <add key="Signin_Key" value=""/>
  <!--TDK(Zyyp)-->
  <add key="Zyyp_Title" value=""/>
  <add key="Zyyp_Description" value=""/>
  <add key="Zyyp_Key" value=""/>
</appSettings>
