<appSettings>
  <add key="Domain" value="sosoyy.com"/>
  <add key= "web" value="192.168.1.5:2433"/>
  <!--图片广告位链接地址-->
  <add key="ImageAdvertisingPositionUrl" value="http://58.214.24.214:94/ad/Config" />
  <!--图片广告管理链接地址-->
  <add key="ImageAdvertisingManage" value="http://58.214.24.214:94/ad/contents" />
  <add key="ServerList" value="192.168.1.200:11211" />
  <add key="imageUrl" value="http://image.rjyiyao.com:8080/" />
  <add key="MongoConnectionURL" value="mongodb://192.168.1.5:25566" />
  <add key="MongoName" value="SOSO_LH" />
  <add key="PriceLog_MongoName" value="SOSO_LH" />
  <!--是否发送短信-->
  <add key="isSendMsg" value="0" />
  <!--基础数据管理平台地址-->
  <add key="baseurl" value="http://192.168.1.75:8088/" />
  <add key="Ad_Pro_Id" value="首页_1,首页_2,首页_3,首页_4,促销_1,促销_2,促销_3,促销_4,促销_5,折扣_1,折扣_2,折扣_3,折扣_4,折扣_5,OTC_1,OTC_2,OTC_3,OTC_4"/>
</appSettings>
