<?xml version="1.0"?>
<SmsConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <DstUrl><![CDATA[]]></DstUrl>
  <Encoding>gb2312</Encoding>
  <Name>sosoyy_101</Name>
  <Pwd>2309sosoyy---</Pwd>
  <ReturnRegexPattern><![CDATA[num=(?<num>\d+)&success=(?<success>[\d\,]*)&faile=(?<faile>[\d\,]*)&err=(?<err>[\s\S]*)&errid=(?<errid>\d+)]]></ReturnRegexPattern>
  <GetFeeRegexPattern><![CDATA[id=(?<id>\d+)&err=(?<err>[\s\S]*)&errid=(?<errid>\d+)&short=(?<short>[\s\S]*)]]></GetFeeRegexPattern>
  <getpass_tosms>1</getpass_tosms>
</SmsConfig>