.list_nav{
	padding-left:15px;
	background:url(/images/home.png) no-repeat left center;
	height: 40px;
    line-height: 40px;
    padding-left: 20px;
	width: auto;
	border-bottom: 1px solid #ddd;
}
.list_nav li{
	float:left;
	padding:10px;
	background: url(/images/list_left.jpg) no-repeat left center;
}
.login_left_banner{
	float:left;
	width:662px;
	height:288px;
	margin-top:14px;
}
.right_login{
	float:left;
	width:314px;
	height:266px;
	margin-left:10px;
	background:#fcfcfc;
	border:1px solid #ddd;
	margin-top:30px;
}
.right_login p{
	border-bottom:1px solid #ddd;
	margin:0 8px;
	font-size:14px;
	font-weight:bold;
	padding:10px 0 6px;
}

.submit{
	width:268px;
	height:32px;
	margin:20px 8px 0;
}
.submit .submit_login{
	background:url(/images/login_button.jpg) no-repeat;
	width:95px;
	height:36px;
}
.submit .submit_register{
	background: url(/images/register_bg_button.jpg.jpg)  no-repeat;
	width:95px;
	height:36px;
	margin-left:10px;
}


.oy_ct_cutover{
	float:left;
	width:773px;
	_width:703px;
	height:330px;

	border:1px solid #ddd;
	margin-top:30px;
}
.dis {
DISPLAY: block
}
.undis {
DISPLAY: none
}
#cntR {
WIDTH: 1000px;
}
#NewsTop {
CLEAR: both; MARGIN-BOTTOM: 16px; height:40px;
}
#NewsTop P {
FLOAT: left; LINE-HEIGHT: 21px;
}
#NewsTop P.topTit {
FONT-WEIGHT: bold; WIDTH: 200px;
}
#NewsTop P.topC0 {
BACKGROUND: #f5f5f5; BORDER-LEFT: #ddd 1px solid; border-bottom:1px solid #ddd; WIDTH: 199px; CURSOR: pointer; height:26px; text-align:center; padding-top:10px; font-size:12px; font-family: "微软雅黑"; font-weight:bold; color:#666;

}
#NewsTop P.topd0 {
BACKGROUND: #f5f5f5; BORDER-LEFT: #ddd 1px solid; border-bottom:1px solid #ddd; WIDTH: 202px; CURSOR: pointer; height:26px; text-align:center; padding-top:10px; font-size:12px; font-family: "微软雅黑"; font-weight:bold; color:#333;

}
#NewsTop P.tope0 {
BACKGROUND: url(/images/tab_bg.jpg) repeat-x;; BORDER-LEFT: #ddd 1px solid; border-bottom:1px solid #ddd; WIDTH: 202px; CURSOR: pointer; height:26px; text-align:center; padding-top:10px; font-size:12px; font-family: "微软雅黑"; font-weight:bold; color:#333;

}

#NewsTop P.topC1 {
BACKGROUND: #fff;  WIDTH: 199px; COLOR: #00a539;height:26px;BORDER-LEFT: #ddd 1px solid; border-bottom: none;padding-top:10px;font-size:12px; font-family: "微软雅黑"; font-weight:bold;
text-align:center;
display:block;
}
#NewsTop P.topd1 {
BACKGROUND: #fff;  WIDTH: 201px; COLOR: #00a539;height:26px;BORDER-LEFT: #ddd 1px solid; border-bottom: none;padding-top:10px;font-size:12px; font-family: "微软雅黑"; font-weight:bold;
text-align:center;
display:block;
}
#NewsTop P.tope1 {
BACKGROUND: #fff;  WIDTH: 201px; COLOR: #00a539;height:26px;BORDER-LEFT: #ddd 1px solid; border-bottom: none;padding-top:10px;font-size:12px; font-family: "微软雅黑"; font-weight:bold;
text-align:center;
display:block;
}

#NewsTop #NewsTop_tit {
BORDER-BOTTOM: #fff 1px solid; HEIGHT: 46px;
}
#NewsTop #NewsTop_cnt {
PADDING-LEFT: 32px; LINE-HEIGHT: 26px; PADDING-TOP: 7px; HEIGHT: 260px; TEXT-ALIGN: left;
}
#NewsTop #NewsTop_cnt A {
COLOR: #666; TEXT-DECORATION: none
}
#NewsTop #NewsTop_cnt A:hover {
COLOR: #c2130e; TEXT-DECORATION: underline
}
.shop_img{
	width:120px;
	margin:0 auto;
}
.d_01 , .d_02 , .d_03{
	padding:0 10px;
	float:left;

}
.d_01 strong , .d_02 strong , .d_03 strong {
	color:#00a539;
	font-weight: bold;
	padding-left:6px;
}
.shop_dsp{
	margin-top:22px;
}
.shop_dsp1{
	margin-top:4px;
}
.shop_price{
	margin-top:4px;
}
.shop_price1{
	margin-top:7px;
}
.s_1{
	display:block;
}
.d_01 ul {
}
.d_02 ul , .d_03 ul{
	width:594px;
}
.d_01 li {
	float:left;
	width:186px;
	_width:170px;
	padding:0 5px;
}
.d_02 li , .d_03 li{
	float:left;
	width:184px;
	padding:0 5px  8px  5px;
}

/*-----------购物车下拉---开始---------------------*/

.cart_drop{
	width:320px;
	border:1px solid #D9222F;
	position:absolute;
	left:-124px;
	top:38px;
	background:#fff;
	display:none;
	border-top: none;


}
.drop_title{
	/*background:#f2f2f2;*/
	padding:6px 8px;
	/*color:#00a539;*/
	font-weight:bold;
	border-bottom:1px solid #999;
}
.drop_Settlement{
	background:#f2f2f2;
	padding:0 8px 50px;
	text-align:right;
}
.drop_Settlement b{
	margin: 0 5px;color: #00a539;
}
.drop_Settlement strong{
	font-size: 15px;color: #00a539;
}
.drop_Settlement .drop_cart{
	height:32px;
	display:block;
	width:117px;
	background:url(/images/101yy_btn_dx_sec.jpg) no-repeat -186px -98px;
}
.drop_Settlement .drop_cart:hover{
	height:32px;
	display:block;
	width:117px;
	background:url(/images/101yy_btn_dx_sec.jpg) no-repeat -186px -140px;
}
.s_01_img{
	height:72px;
	padding:5px 0 5px 5px;
}
.s_01_img li{
	float:left;
}
.s_01_frist{
	width:70px;
	height:70px;
	border:1px solid #ddd;
}
.s_01_delf{
	width:120px;
	padding:4px 16px 0 10px;
}

.s_01_Operating{
	padding-top:4px;
}
.s_01_Operating a{

	padding-left: 56px;
	color:#00a539;
}
.s_01_Operating b{
	color:#00a539;
}

.s_01_bar{
	background: #ffc3c3;
	padding:4px 0;
	height:20px;
}
.s_01_bar li{
	float:left;
}
.s_01_bar .bar_01{
	background:#00a539;
	color:#fff;
	padding:1px 2px ;
	margin-left:4px;
}
.s_01_bar .bar_02{

	padding:1px 2px 1px 8px ;
	width:180px;
	white-space:nowrap;
text-overflow:clip;
-o-text-overflow:clip;
overflow: hidden;
}
.s_01_bar .bar_03{

	padding:1px 2px 1px 8px ;

}
#orderlist
{
    max-height: 332px;
	overflow: auto;
}
