.progress{
	float:right;
	width:528px;
	height:57px;
	display:block;
	padding-right:20px;
	background: url(/images/step-1.jpg) no-repeat;
	margin-top:40px;

}
.cart-thead_box{
	margin-top:20px;
	margin-bottom:20px;
}
.cart-thead_box h2{
	padding:5px 0 5px 10px;
}
/*----------------------------------------*/
.cart-thead{
	height:40px;
	background:#f1f1f1;
	width:990px;
	margin:0 auto;
	
}
.cart-thead1{
	background:#fff;
	width:988px;
	margin:0 auto;
	padding:6px 0 6px 10px;
	
}
.cart-thead h2{
	background: #f3f3f3;
	height:39px;
	line-height:40px;
	color:#00a539;
	font-size:14px;
	font-weight:bold;
	padding-left:8px;
	border-top: 1px solid #ddd;
	}
.cart-thead .p{
	text-align:left;
	padding-top:10px;
	padding-bottom:20px;
	}
.cart-thead .cxcl_img{
	width:157px;
	height:84px;
	float: left;
	margin:10px;
	background:url(../images/sprite_94.png) no-repeat;
}

.column {
    border-right: 1px solid #FFFFFF;
    color: #666666;
    float: left;
    height: 35px;
    line-height: 35px;
    text-align: center;
    width:70px;
	border-top: 1px solid #ddd;
}
.column1 {
   
    color: #666666;
    float: left;
    text-align:center;
    width:70px;
	
}
.t-checkbox {
    line-height: normal;
    text-align: left;
	width:64px;
}
.t-checkbox1 {
    line-height: normal;
    text-align: left;
	width:60px;
}
.t-checkbox input {
    display: inline;
    margin: 11px 5px 0 10px;
	float:left;
}
.t-checkbox1 input {
    display: inline;
    margin: 11px 5px 0 6px;
	float:left;
}
.t-checkbox label {
    line-height: 35px;
	padding-left:4px;
}
.t-goods {
    width: 140px;
}
.t-goods1 {
  width: 136px;
text-align: left;
padding-left: 6px;
}
.t-goods1 a{
	color:#00a539;
}
.t-price{
    width: 132px;

}
.t-price1 {
    width: 122px;
	padding-left:5px;
	text-align:left;
}
.t-promotion {
    width: 80px;
}
.t-promotion1 {
    width: 83px;
}
.t-action {
    border-right: 0 none;
}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.clearfix {
    display: inline-table;
}
.clearfix {
    display: block;
}
* + html .clearfix {
    min-height: 1%;
}
.t-quantity2{
	width:77px;
	}
.t-quantity3{
	
	}
	.t-quantity5 span{
		padding:2px 4px;
		background:#00a539;
		color:#fff;
		
	}
	.t-quantity6{
		width:74px;
	}
	.fl{
		float:left;
	}
.control {
    width:1000px;
	padding-top:2px;
}
.delete_clear , .delete , .pool{
	padding-left:30px;
	padding-top:2px;
}
.delete_clear{
	background:url(/images/delete_21.jpg) no-repeat 10px center;
}
.delete{
	background:url(/images/delete_22.jpg) no-repeat 14px center;
}
.pool{
	background:url(/images/cd_01.jpg) no-repeat 14px center;
}
.cdsp{
	border:1px solid #ddd;
	width:940px;
	height:30px;
	margin-top:10px;
	padding:10 20pxpx;
	position:relative;
	background:url(/images/bulb-off.jpg) no-repeat 4px center;
}
.cdsp_top_ico{
	background:url(/images/lab_zk_info_bg.png) no-repeat;
	width:15px;
	height:15px;
	position:absolute;
	left:260px;
	top:-6px;
}
.cdsp span{
	font-size:14px;
	color:#00a539;
	padding:0 8px;
	font-weight:bold;
}
.cdsp p{
	padding:4px 0 4px 30px;
}
.shop_close{
	
	background:#f9f9f9;
	border:1px solid #ddd;
	margin:10px 0;
	padding:20px 10px;
	height:20px;
}
.cart-thead1_box{
	border:1px solid #ddd;
}
.amout , .amout1 , .amout2 {
	margin-right:10px;
}
.amout span , .amout1 span , .amout2 span , .amout3 span{
	color:#00a539;
	font-weight:bold;
	padding:0 6px;
}
.amout3{
	font-size:14px;
	font-weight:bold;
	margin-top:-2px;
}
.cart-button {
    padding: 10px 0 0;
}
.ctn_shop{
	background:url(/images/101yy_btn_dx_sec.jpg) no-repeat 0px -280px;
	width:108px;
	height:38px;
	display: block;
	float: left;
}
.ctn_shop:hover{
	background:url(/images/101yy_btn_dx_sec.jpg) no-repeat 0px -328px;
	width:108px;
	height:38px;
	display: block;
	float: left;
}
.stm_shop{
	background: url(/images/101yy_btn_dx_sec.jpg) no-repeat 0px -184px;
	width:108px;
	height:38px;
	display:block;
	float:right;
	
}
.stm_shop:hover{
	background: url(/images/101yy_btn_dx_sec.jpg) no-repeat 0px -232px;
	width:108px;
	height:38px;
	display:block;
	float:right;
	
}
.jianshao_btn{
	background: url(/images/101yy_btn_dx_sec.jpg) no-repeat 0px -375px;
	width:18px;
	height:11px;
	float:left;
	margin:3px 0;
}
.jianshao_btn:hover{
	background: url(/images/101yy_btn_dx_sec.jpg) no-repeat 0px -391px;
	width:18px;
	height:11px;
	float:left;
		margin:3px 0;
		cursor:pointer;
}
.zhengjia_btn{
	background: url(/images/101yy_btn_dx_sec.jpg) no-repeat -24px -375px;
	width:18px;
	height:11px;
	float:left;
	margin:3px 0;
	cursor:pointer;
}
.zhengjia_btn:hover{
	background: url(/images/101yy_btn_dx_sec.jpg) no-repeat -24px -391px;
	width:18px;
	height:11px;
	float:left;
	margin:3px 0;
}
.delete_shop_title{
	background:#f9f9f9;
	height:20px;
	padding:10px;
	border:1px solid #ddd;

}
.d_s_1{
	width:500px;
		text-align:center;
}
.d_s_2{
	width:150px;
		text-align:center;
}
.d_s_3{
	width:150px;
		text-align:center;
}
.d_s_4{
	width:170px;
		text-align:center;
}
.delete_shop_content{
	border-left:1px solid #ddd;
	border-right:1px solid #ddd;
	border-bottom:1px solid #ddd;
	border-top: none;
	padding:10px;

}
.dsc_cc{
	padding:6px 0;
}
.d_s_1 span{
	padding:0 4px;
}

/*------------------------------------*/

.oy_ct_cutover{
	float:left;
	width:1000px;
	height:330px;
	border:1px solid #ddd;
	margin-top:30px;
	position:relative;
}
.dis {
DISPLAY: block
}
.undis {
DISPLAY: none
}
#cntR {
WIDTH: 1000px;
}
#NewsTop {
CLEAR: both; MARGIN-BOTTOM: 16px; height:40px; 
}
#NewsTop P {
FLOAT: left; LINE-HEIGHT: 21px;
}
#NewsTop P.topTit {
FONT-WEIGHT: bold; WIDTH: 200px; 
}
#NewsTop P.topC0 {
BACKGROUND: url(../images/tab_bg.jpg) repeat-x;; BORDER-LEFT: #ddd 1px solid; border-bottom:1px solid #ddd; WIDTH: 199px; CURSOR: pointer; height:26px; text-align:center; padding-top:10px; font-size:12px; font-family: "微软雅黑"; font-weight:bold; color:#333;

}
#NewsTop P.topd0 {
BACKGROUND: url(../images/tab_bg.jpg) repeat-x;; BORDER-LEFT: #ddd 1px solid; border-bottom:1px solid #ddd; WIDTH: 202px; CURSOR: pointer; height:26px; text-align:center; padding-top:10px; font-size:12px; font-family: "微软雅黑"; font-weight:bold; color:#333;

}
#NewsTop P.tope0 {
BACKGROUND: url(../images/tab_bg.jpg) repeat-x;; BORDER-LEFT: #ddd 1px solid; border-bottom:1px solid #ddd; WIDTH: 202px; CURSOR: pointer; height:26px; text-align:center; padding-top:10px; font-size:12px; font-family: "微软雅黑"; font-weight:bold; color:#333; margin-left:-1px;

}

#NewsTop P.topC1 {
BACKGROUND: #fff;  WIDTH: 199px; COLOR: #00a539;height:27px;BORDER-LEFT: #ddd 1px solid; border-bottom: none;padding-top:10px;font-size:12px; font-family: "微软雅黑"; font-weight:bold;
text-align:center; 
display:block;
margin-left:-1px;
}
#NewsTop P.topd1 {
BACKGROUND: #fff;  WIDTH: 201px; COLOR: #00a539;height:26px;BORDER-LEFT: #ddd 1px solid; border-bottom: none;padding-top:10px;font-size:12px; font-family: "微软雅黑"; font-weight:bold;
text-align:center; 
display:block;
}
#NewsTop P.tope1 {
BACKGROUND: #fff;  WIDTH: 201px; COLOR: #00a539;height:26px;BORDER-LEFT: #ddd 1px solid; border-bottom: none;padding-top:10px;font-size:12px; font-family: "微软雅黑"; font-weight:bold;
text-align:center; 
display:block;
}

#NewsTop #NewsTop_tit {
HEIGHT: 36px;background: url("../images/tab_bg.jpg") repeat-x scroll 0 0 transparent;
    border-bottom: 1px solid #DDDDDD;
}
#NewsTop #NewsTop_cnt {
PADDING-LEFT: 32px; LINE-HEIGHT: 26px; PADDING-TOP: 7px; HEIGHT: 260px; TEXT-ALIGN: left;
}
#NewsTop #NewsTop_cnt A {
COLOR: #666; TEXT-DECORATION: none
}
#NewsTop #NewsTop_cnt A:hover {
COLOR: #c2130e; TEXT-DECORATION: underline
}
.shop_img{
	width:120px;
	margin:0 auto;
}
.d_01 , .d_02 , .d_03{
	display:none;
	padding:0 10px;
}
.d_01 strong , .d_02 strong , .d_03 strong {
	color:#00a539;
	font-weight: bold;
	padding-left:6px;
}
.shop_dsp{
	margin-top:22px;
}
.shop_dsp1{
	margin-top:4px;
}
.shop_price{
	margin-top:4px;
}
.shop_price1{
	margin-top:7px;
}
.s_1{
	display:block;
}
.d_01 ul {
width: 790px;
margin: 0 auto;
}
.d_02 ul , .d_03 ul{
	width:594px;
}
.d_01 li {
	float:left;
	width:186px;
	padding:0 5px;
}
.d_02 li , .d_03 li{
	float:left;
	width:184px;
	padding:0 5px  8px  5px;
}
.new_left_cat{
	position:absolute;
	background:url(/images/new_left.jpg) no-repeat;
	display:block;
	width:48px;
	height:48px;
	left:10px;
	top:140px;
}
.new_right_cat{
	position:absolute;
	background:url(/images/new_right.jpg) no-repeat;
	display:block;
	width:48px;
	height:48px;
	right:10px;
	top:140px;
}

#cart table {border-left:1px solid #dedede;border-top:1px solid #dedede; margin-bottom:8px;}
#cart th{ border-right:1px solid #dedede; border-bottom:1px solid #dedede; text-align:center;}
#cart td{ border-right:1px solid #dedede; border-bottom:1px solid #dedede; padding:8px 4px 8px 4px;}
#cart .right{text-align:right;}
#cart .center{text-align:center;}