.list_nav{
	padding-left:15px;
	background:url(/images/home.png) no-repeat left center;
	height: 40px;
    line-height: 40px;
    padding-left: 20px;
	width: auto;
	border-bottom: 1px solid #ddd;
}
.list_nav li{
	float:left;
	padding:10px;
	background: url(/images/list_left.jpg) no-repeat left center;
}
.Forget_password_box{
	position:relative;
	width:998px;
	border:1px solid #ddd;
	margin-top:20px;
}
.mc {

}
#code .img{
	margin-left:10px;
}
.step {
overflow: hidden;
margin-bottom: 30px;
height: 25px;
padding: 20px 40px 20px 40px;
}

.step li {
float: left;
background: url(/images/p1.jpg) no-repeat top right #ededed;
height: 25px;
line-height: 25px;
color: #999999;
padding: 0 87px 0 70px;
font-weight: bold;
}
.step .one {
background: url(/images/p5.jpg) no-repeat top right #bbbbbb;
color: #FFF;
}
.step .one1 {
background:url(/images/p9.jpg) no-repeat right top #bbbbbb;
color: #FFF;
}
.step .two1 {
background:url(/images/p9.jpg) no-repeat right top #bbbbbb !important;
color: #FFF;
}
.step .two {
background:url(/images/p5.jpg) no-repeat right top #bbbbbb;
color: #FFF;
}
.step .three {
background: url(/images/p5.jpg) no-repeat top right #bbbbbb;
color: #FFF;
}
.step .cur {
background: url(/images/p2.jpg) no-repeat top right #00a539;
color: #fff;
}
.step .four {
background: none #ededed;
}
.step .four1 {
background: #ffd1d1;
}


.Forget_password_box .form {
width: 582px;
overflow: hidden;
margin: 0 auto;
padding-left: 100px;
}
.Forget_password_box .item {
padding-top: 5px;
height: 55px;
line-height: 26px;
}
.Forget_password_box .label {
width: 140px;
text-align: right;
font-size: 14px;
float:left;
padding:2px 0;
}
.Forget_password_box .text {
width: 240px;
height: 16px;
padding: 4px 3px;
border: 1px solid #bbb;
font-size: 14px;
font-family: arial,"宋体";
}
.Forget_password_box .text3 {
width: 240px;
height: 16px;
padding: 4px 3px;
border: 1px solid #bbb;
font-size: 14px;
font-family: arial,"宋体";
}
.Forget_password_box .text-1 {
width: 100px;
float:left;
}
.Forget_password_box .btn-entry {
width: 67px;
height: 28px;
line-height: 28px;
background: url(/images/btn_sure.jpg) no-repeat;
font-size: 12px;
font-weight: bold;
color:#fff;
padding:0 12px;
cursor:pointer;
}
.Forget_password_box .btn-entry1 {
width: 67px;
height: 28px;
line-height: 28px;
background: url(/images/btn_sure.jpg) no-repeat;
font-size: 12px;
font-weight: bold;
color:#fff;
padding:0 20px;
cursor:pointer;
}
.fl {
float: left;
}
.form label{
float: left;
margin-left:10px;
}
.Forget_password_box .text-color {
color: #999999;
font-size: 12px;
}
.ftx23 a {
color: #005ea7;
}
.Forget_password_box .item {
line-height: 26px;
}
.ftx23{
	padding:4px 0;
}
.Forget_password_box .mt {
height: 37px;
/*background: url(/images/phb_bg.jpg) #D1D1D1 repeat-x;*/
background:url(../images/tab_bg.jpg) #d1d1d1 repeat-x;
}
.Forget_password_box .mt h2 {
float: left;
height: 37px;
padding-left: 15px;
background: url(/images/tit_regist.jpg) no-repeat 0 0;
line-height: 37px;
}
.msg-text{color:#999999;}/*信息输入提示*/
.msg-error{color:#cc0000; display:none;}/*信息输错误入提示*/
.clr{
	clear:both;
}
.text-ifo {
color: #00a539;
border: none;
margin-top: 5px;
font-weight: bold;
width: 112px;
font-size:14px;

}
.text-one {
margin-top: 0;
}
.form .e-ifon {
float: left;
background: url(/images/yanz_phone.jpg) no-repeat;
width: 127px;
text-align: center;
height: 28px;
line-height: 28px;
margin-left: 20px;
margin-top: -3px;
cursor:pointer;
color:#fff;
}
.form .e-ifon2 {
float: left;
background: url(/images/yanz_phone.jpg) no-repeat;
width: 127px;
text-align: center;
height: 28px;
line-height: 28px;
margin-left: 20px;
margin-top: -3px;
cursor:pointer;
}/*点击后的样式*/

.call2 {
overflow: hidden;
padding: 50px 0;
}
.suc {
font-weight: bold;
}
.m-return {
color: #333333;
}
.m-return b {
	background:url(/images/p8.jpg) no-repeat;
width: 48px;
height: 38px;
}
.call2 b {
float: left;
background:url(/images/p4.jpg) no-repeat;
width: 50px;
height: 46px;
margin-right: 12px;
}
.m-return span {
line-height: 20px;
font-weight: normal;
}

.call2 span {
float: left;
line-height: 20px;
font-weight: normal;
}
.m-return span strong {
color: #009900;
}
.call2 span strong {
color: #ff6600;
}
.m-return span a {
color: #005ea7;
}

