@charset "utf-8";
/* CSS Document */

div.zixun {
	position:relative;
	width:1002px;
	height:982px;
	margin-top:10px;
}
div.zixun-01{
	position: absolute;
	top:0;
	left:0;
	width:1002px;
	height:982px;
}
.cyzx{
	left: 84px;
    position: absolute;
    top: 16px;
	*top:19px;
    width: 240px;
    z-index: 1;
	
	}
	.cyzx li{
		float: left;
    padding-right: 16px;
    line-height: 24px;

	}
	.cyzx li a{
		color:#FFF;
	}
	
	.jkzx{
	 left: 460px;
    position: absolute;
	 top: 16px;
	*top:19px;
    width: 200px;
    z-index: 1;
	}
	.jkzx li{
		float: left;
    padding-right: 16px;
    line-height: 24px;

	}
	.jkzx li a{
		color:#FFF;
	}
	
	.gqsj{
	      left: 806px;
    position: absolute;
	 top: 16px;
    width: 140px;
    z-index: 1;
	}
	.gqsj li{
		float: left;
    padding-right: 14px;
    line-height: 24px;

	}
	.gqsj li a{
		color:#FFF;
	}