<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Maptool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />

    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="syntoolSoap" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="DrugsBaseSoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="DrugsBaseSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.1.75:9081/syntool.asmx" binding="basicHttpBinding"
        bindingConfiguration="syntoolSoap" contract="soso.syntoolSoap"
        name="syntoolSoap" />
      <endpoint address="http://192.168.1.75:8083/Api/DrugsBase.asmx"
        binding="basicHttpBinding" bindingConfiguration="DrugsBaseSoap"
        contract="DrugsBaseService.DrugsBaseSoap" name="DrugsBaseSoap" />   
    </client>
  </system.serviceModel>
  <applicationSettings>
    <Maptool.Properties.Settings>
      <setting name="upload" serializeAs="String">
        <value>http://base.101yao.com/api/upload.aspx</value>
      </setting>
    </Maptool.Properties.Settings>
  </applicationSettings>
</configuration>
