<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null" requirePermission="true" />
  </configSections>
  <dataConfiguration defaultDatabase="ConnectionStringDataCentre" />
  <connectionStrings configSource="config\connectionStrings.config" />
  <appSettings>
    <add key="MongoConnectionString" value="Server=192.168.1.5:25566;MinimumPoolSize=8;MaximumPoolSize=256;Pooled=true" />
    <add key="MongoName" value="datasynchronism_hl" />
    <!--价格缓存-->
    <add key="ServerList2" value="192.168.1.5:11211" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="shopdb" value="SHOP_TianTai" />
    <add key="centredb" value="Data_Centre_TianTai" />
    <!--是否自动上架-->
    <add key="autoProduct_bShelves" value="1" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>