<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="APISoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.1.200:90/Api/api.asmx" binding="basicHttpBinding"
                bindingConfiguration="APISoap" contract="com.APISoap" name="APISoap" />
        </client>
    </system.serviceModel>
</configuration>