<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null" requirePermission="true" />
  </configSections>
  <dataConfiguration defaultDatabase="ConnectionString" />
  <connectionStrings configSource="Config\connection.config"/>
  <appSettings configSource="Config\appSetting.config"/>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime requestValidationMode="2.0" maxRequestLength="40960" />
    <authentication mode="Forms">
      <forms name="FormsAuthCookie"
     path="/" loginUrl="~/Login"
     domain="sosoyy.com" />
    </authentication>
    <machineKey validationKey="DAE15D22D65E8A6775516D0ECB2CE19D95ADE2C04ADB5F13441BE652F29F55F78045F7DFDCF4F8B0AB09B17A6ADA6CB948C973A25B0339DDEFE2B577B2E5DE1C" decryptionKey="3FA9FAC01099E68C6572F3F12FA19CA948FE6DEF9A6FC72CE04A1127CE3CBC81" validation="SHA1" decryption="AES" />
    <sessionState cookieless="UseCookies" mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424" timeout="600" stateNetworkTimeout="3600" cookieName="SessionId" />
    <customErrors mode="Off"/>
  </system.web>
</configuration>
