<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null" requirePermission="true"/>
  </configSections>
  <dataConfiguration defaultDatabase="ConnectionString"/>
  <connectionStrings configSource="Config\connection.config"/>
  <appSettings>
    <!--会员信息同步一次间隔时间 单位分钟-->
    <add key="memberTime" value="5"/>
    <!--订单信息同步一次间隔时间 单位分钟-->
    <add key="orderTime" value="5"/>
    <!--商品信息同步一次间隔时间 单位分钟-->
    <add key="productTime" value="5"/>   
    <!--近效期产品同步间隔-->
    <add key="ExpirationTimeProduct" value="15"/>
    <!--SQL语句-->
    <add key="SQL_Memberinfo" value="SELECT * FROM dbo.Memberinfo"/>
    <add key="SQL_I_ERP_OrderStatus_NOTE" value="SELECT * FROM I_ERP_OrderStatus_NOTE WHERE handleStatus=0 ORDER BY id ASC"/>
    <add key="SQL_Product_ExpirationTime" value="SELECT * FROM dbo.Product_ExpirationTime"/>
    <add key="SQL_MemberBusinessScope" value="SELECT 0 AS ID,UID,BussinessScopeCode FROM dbo.MemberBusinessScope"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="APISoap"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.1.75:8087/api/api.asmx" binding="basicHttpBinding" bindingConfiguration="APISoap" contract="com.APISoap" name="APISoap"/>
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
