@using System.Data;
@using System.Collections.Specialized;
@using SOSOshop.Model;
@{
    ViewBag.Title = (string.IsNullOrEmpty(ViewBag.TrueName) ? ViewBag.MobilePhone : ViewBag.TrueName) + "的会员中心";
    Layout = "~/Views/Shared/_Master.cshtml";
}
@section head
{
    <link rel="stylesheet" type="text/css" href="/Content/101MemberSafe_password.css" />
    <script type="text/javascript" src="/Scripts/tab.js"></script>
    <script type="text/javascript" src="/Scripts/jquery-1.5.1.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".topC0").click(function () {
                $(".topC0").removeClass("topC1");
                $(this).addClass("topC1");
                $(".NewsTop_cnt .d_01").hide();
                $(".NewsTop_cnt .d_01").eq($(this).index()).show();
            });
        });

        function CheckForm() {
            var oldPassword = $.trim($('#oldPassword').val());
            var newPassword = $.trim($('#newPassword').val());
            var comfirmPassword = $.trim($('#comfirmPassword').val());
            if (oldPassword == '') {
                alert('请填写旧密码！');
                return false;
            }
            if (newPassword == '') {
                alert('请填写新密码！');
                return false;
            }
            else if (newPassword.length < 6) {
                alert("密码长度不得少于6位！");
                return false;
            }
            if (newPassword == oldPassword) {
                alert('请填写新密码，不能与旧密码相同！');
                return false;
            }
            if (newPassword != comfirmPassword) {
                alert('再次输入密码不正确！');
                return false;
            }
            return true;
        }

        function Ir(input) {
            input = $(input);
            var i = $('#' + input.attr('id') + 'Ir'), str = $.trim(input.val());
            if (i.length && str.length) {
                if (/^[a-z]+$/i.test(str) || /^[0-9]+$/i.test(str)) {
                    i.attr('class', 'ir icon-s-01');
                } else if (/^[a-z0-9_\-]+$/i.test(str)) {
                    i.attr('class', 'ir icon-s-02');
                } else {
                    i.attr('class', 'ir icon-s-03');
                }
                i.show();
            } else {
                i.hide();
            }
            return true;
        }
    </script>
}
@{Html.RenderPartial("Nav");}
<ul class="list_nav">
    <li><a href="/MemberCenter/">会员中心</a> &gt; <span>账户管理</span> &gt; <span>修改密码</span></li>
</ul>
@{Html.RenderPartial("MemberCenter_LeftMenu");}
<form action="/MemberCenter/PasswordUpdate" method="post" onsubmit="return CheckForm(this)">
<div class="mc_right">
    <div class="Remind">
        @if (Request.RequestType.Equals("GET"))
        { <span>修改登陆密码</span> }
        else
        { @Html.ValidationSummary() }
    </div>
    <div class="safe-sevi m1">
    @if (ViewBag.ok == null || ViewBag.ok == false)
    {
        <div class="mc mc_pw">
        <div class="reg_nub">
    <span class="rg_info"><em>*</em> 旧密码：</span>
      <input id="oldPassword" name="oldPassword" type="password" maxlength="20" onkeyup="return Ir(this)" />
      <label></label>
      </div>
      <div id="oldPasswordIr" class="ir icon-s-03" style="display:none;"></div>
      <div class="reg_nub">
    <span class="rg_info"><em>*</em> 新密码：</span>
      <input id="newPassword" name="newPassword" type="password" maxlength="20" onkeyup="return Ir(this)" />
      <label></label>
      </div>
       <div id="newPasswordIr" class="ir icon-s-03" style="display:none;"></div>
      <div class="reg_nub">
    <span class="rg_info"><em>*</em> 再次输入新密码：</span>
      <input id="comfirmPassword" name="comfirmPassword" type="password" maxlength="20" />
      <label></label>
      </div>
      
      <div class="btn">
      <input class="but_sure" type="submit" value="修改" />
        <input class="but_lev" type="reset" value="取消" onclick="location='/MemberCenter/SafetyCenter'" />
      </div>
        </div>
    }
    else
    {
        <div class="mc mc_pw">
      <div>
      <a href="/MemberCenter/SafetyCenter" style="color:#BD0000">修改密码成功，返回账户安全。</a>
      </div>
        </div>
    }
    </div>
    <div class="m7">
        <div class="mt">
            <h3>
                安全服务提示</h3>
        </div>
        <div class="mc">
            1.确认您登录的是@(System.Configuration.ConfigurationManager.AppSettings["CompanyFullName"])网址<a href="http://@System.Configuration.ConfigurationManager.AppSettings["CompanyDomainName"]">http://@System.Configuration.ConfigurationManager.AppSettings["CompanyDomainName"]</a>注意防范进入钓鱼网站，不要轻信各种即时通讯工具发送的商品或支付链接，谨防网购诈骗。
            2.建议您安装杀毒软件，并定期更新操作系统等软件补丁，确保账户及交易安全。
        </div>
    </div>
    <!---------------------------------------------------->
</div>
<!---------mc_right------------>
</form>
