<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null" requirePermission="true" />
  </configSections>
  <dataConfiguration defaultDatabase="ConnectionString" />
  <connectionStrings configSource="Config\connection.config" />
  <appSettings>
    <add key="MongoConnectionURL" value="mongodb://test:test@192.168.1.5:25566" />
    <add key="MongoName" value="SOSOshop" />

    <add key="MongoConnectionURL2" value="mongodb://test:test@192.168.1.5:25566" />
    <add key="MongoName2" value="SOSOshop_YSPT" />
    <!--价格缓存-->
    <add key="ServerList2" value="127.0.0.1:11218" />
    <!--是否发送短信-->
    <add key="isSendMsg" value="0" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
