<connectionStrings>  
  <add name="ConnectionStringDataCentre" connectionString="Data Source=192.168.1.5,2433;Initial Catalog=Data_Centre_TianTai;User ID=td;Password=sosoyy&amp;101;" providerName="System.Data.SqlClient"/>
  <add name="ConnectionString" connectionString="Data Source=192.168.1.5,2433;Initial Catalog=SHOP_TianTai;User ID=td;Password=sosoyy&amp;101;" providerName="System.Data.SqlClient"/>
</connectionStrings>