<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="商品数据" value="SELECT * FROM __Product10000；30" />
    <add key="商品价格" value="SELECT * FROM Price10000；30" />
    <add key="商品库存" value="SELECT id 商品编号,pihao 批号,sxrq 效期,Stock 商品库存 FROM View_Stock10000 ；30" />
    <add key="EnterpriseID" value="50002" />
  </appSettings>
  <connectionStrings>
    <!--配置连接ERP数据库参数-->
    <add name="ConnectionString" connectionString="Data Source=192.168.1.5,2433;Initial Catalog=Data_Centre_YSPT;Persist Security Info=True;User ID=td;Password=sosoyy&amp;101;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <httpRuntime maxRequestLength="160960" executionTimeout="600000" enable="true" />
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="synFromService1Soap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:84/synFromService1.asmx"
        binding="basicHttpBinding" bindingConfiguration="synFromService1Soap"
        contract="SynFromServiceReference.synFromService1Soap" name="synFromService1Soap" />
    </client>
  </system.serviceModel>
</configuration>