<?xml version="1.0"?>

<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null" requirePermission="true" />
  </configSections>
  <dataConfiguration defaultDatabase="ConnectionStringDataCentre" />
  <connectionStrings configSource="config\connectionStrings.config" />
  <appSettings>
    <add key="MongoConnectionString" value="Server=192.168.1.5:25566;MinimumPoolSize=8;MaximumPoolSize=256;Pooled=true" />
    <add key="MongoName" value="datasynchronism_lh" />
    <!--<add key="updateURL" value="http://exchange.101yao.com" />-->
    <add key="updateURL" value="http://192.168.1.28:8888" />
    <!--价格和第三方库存和批号缓存服务器-->
    <add key="ServerList2" value="192.168.1.5:11211" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime executionTimeout="600000" enable="true"/>
  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

</configuration>
